/* COMMON
   ======================= */
.nada {
    display: none;
}

/* ======================= */

/* MACRO LAYOUT
   ======================= */
body {
    font-family: Verdana, sans-serif;
}

header {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: crimson;
}

main {
    padding-top: 20px;
}

/* ======================= */

/* MICRO LAYOUT
   ======================= */

/* ======================= */
/* header
   ++++++++++ */
h1 {
    text-transform: uppercase;
    color: lightgoldenrodyellow;
}

/* ++++++++++ */

/* div#score-board
   ++++++++++ */
ol {
    max-height: 5rem;
    overflow-y: auto;
}

ol li {
    display: flex;
    justify-content: space-between;
    list-style-type: decimal;
    background-color: darksalmon;
    border-bottom: 1px solid white;
}

ol li:nth-of-type(1) {
    background: goldenrod;
}

ol li:nth-of-type(2) {
    background: silver;
}

ol li:nth-of-type(3) {
    background: #b87333;
}


#final-score,
#play-again {
    background-color: orangered;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    color: white;
}

/* ++++++++++ */

/* div#mine-field
   ++++++++++ */
#mine-field {
    width: 600px;
    margin: auto;
}

.square {
    height: calc(600px/10);
    width: calc(600px/10);
    border: 1px solid black;
    color: white;
    background-color: darkgreen;
    font-size: 2rem;
    text-align: center;
    line-height: 100%;
    padding-top: 15px;
}

.square::before {
    content: '\f4d8';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.square.hidden {
    background-color: gray;
    color: gray;
}

.bomb {
    background-color: crimson;
}

.bomb::before {
    content: "\f714";
}


/* ++++++++++ */